/* Colors */
/* Font */
/* Font weigt */
/* Margenes */
/* z-index */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fbfefd;
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  color: #707070;
  line-height: 1.6;
}

/* Scroll style start*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #069c54;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #048654;
}

/* Scroll style end */
h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title, .section-subtitle {
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  color: #393939;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  display: block;
  color: #069c54;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

/* Layout */
.bd-container {
  max-width: 1040px;
  padding: 0 1rem;
  margin: 0 auto;
}

.bd-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.hero {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfefd;
}

/* Navigation */
.nav {
  max-width: 1024px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #fbfefd;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: 100;
  }
}

.nav-item {
  margin-bottom: 1rem;
}

.nav-link, .nav-logo, .nav-toggle {
  color: #707070;
  font-weight: 500;
}

.nav-logo:hover {
  color: #069c54;
}

.nav-link {
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 3rem;
}

/* Change */
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: #707070;
  font-size: 1rem;
  cursor: pointer;
}

/* Active link */
.active-link {
  color: #069c54;
}

/* Main */
.home-container {
  height: calc(100vh-$header-height);
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1.5rem;
}

.home-title {
  font-size: 2.25rem;
  color: #069c54;
  margin-bottom: 0.5rem;
}

.home-subtitle {
  font-size: 1.5rem;
  color: #393939;
  margin-bottom: 2rem;
}

.home-img {
  width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.button {
  display: inline-block;
  background-color: #069c54;
  color: #fff;
  padding: .75rem 1rem;
  border-radius: .5rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  background-color: #048654;
}

/* About  */
.about {
  margin-bottom: 1.5rem;
}

.about-data {
  text-align: center;
}

.about-des {
  margin-bottom: 1.5rem;
}

.about-img {
  width: 280px;
  border-radius: .5rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* Services */
.services-container {
  row-gap: 2.5rem;
  -ms-grid-columns: (min-max(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, min-max(220px, 1fr));
  margin-bottom: 1.5rem;
}

.services-content {
  text-align: center;
}

.services-img {
  width: 64px;
  height: 64px;
  fill: #069c54;
  margin-bottom: 1rem;
}

.services-title {
  font-size: 1rem;
  color: #393939;
  margin-bottom: 0.5rem;
}

.services-des {
  padding: 0 1.5rem;
}

/* Menu */
.menu-container {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

.menu-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
          box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
  padding: .75rem;
}

.menu-img {
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

.menu-name, .menu-price {
  font-weight: 600;
  color: #393939;
}

.menu-name {
  font-size: 0.938rem;
}

.menu-detail, .menu-price {
  font-size: 0.813rem;
}

.menu-detail {
  margin-bottom: 0.5rem;
}

.menu-button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .625rem .813rem;
  border-radius: .5rem 0 .5rem 0;
}

/* App stores */
.app {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.app-store {
  margin-right: 1rem;
}

.app-store, .play-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5rem;
  border: 2px solid #707070;
  margin-bottom: 1rem;
  padding: .3rem;
  cursor: pointer;
}

.app-store i, .play-store i {
  font-size: 2.2rem;
  color: #181717;
}

.app-store span, .play-store span {
  font-size: 18px;
  font-weight: 600;
}

.app-store p, .play-store p {
  font-weight: 700;
  font-size: 25px;
  color: #181717;
}

.app-date {
  text-align: center;
}

.app-des {
  margin-bottom: 2.5rem;
  text-align: center;
}

.app-img {
  width: 100%;
  border-radius: .5rem;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2rem;
}

/* Contact */
.contact-container {
  text-align: center;
}

.contact-des {
  margin-bottom: 1.5rem;
}

/* Footer */
.footer-container {
  -ms-grid-columns: (min-max(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, min-max(220px, 1fr));
  row-gap: 2rem;
}

.footer-logo {
  font-size: 1rem;
  color: #069c54;
  font-weight: 600;
}

.footer-des {
  display: block;
  font-size: 0.813rem;
  margin: 0.25rem 0 1.5rem;
}

.footer-social {
  font-size: 1.5rem;
  color: #393939;
  margin-right: 1rem;
}

.footer-link {
  display: inline-block;
  color: #707070;
  margin-bottom: 0.5rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.footer-link:hover {
  color: #069c54;
}

.footer-copy {
  text-align: center;
  font: 0.813rem;
  color: #707070;
  margin-top: 3.5rem;
}

/* media */
@media screen and (min-width: 576px) {
  .home-container,
  .about-container,
  .app-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-img, .app-img {
    width: 380px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .contact-container {
    -ms-grid-columns: 1.75fr 1fr;
        grid-template-columns: 1.75fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc($header-height + 1.5rem);
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
  .nav-toggle {
    display: none;
  }
  .change-theme {
    position: initial;
    margin-left: 1rem;
  }
  .home-container {
    height: 100vh;
    justify-items: center;
  }
  .menu-container {
    -ms-grid-columns: (210px)[3];
        grid-template-columns: repeat(3, 210px);
    grid-column-gap: 4rem;
  }
  .services-container, .menu-container {
    margin-top: 1rem;
  }
  .menu-content {
    padding: 1.5rem;
  }
  .menu-img {
    width: 130px;
  }
  .app-stores {
    margin: 0 1rem 0 0;
  }
}
/*# sourceMappingURL=style.css.map */